.head{text-align: center;
       font-style: italic;    
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
                 }
h1 a{color: rgb(194, 181, 9);
    text-decoration: none;
    font-size: 40px;}

ul a{text-decoration: none;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

    p{
        font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 17px;
    }

body{background-image: url(b1.jpg) ;
        background-attachment: fixed;;

}

.background-div {
        background-image: url(cloth\ rack.jpg);
        height: 600px;

}

.button-style1 {
        position: relative;
        top: 100px;
        left: 70%;
        background-color: darkred;
        border-radius: 10%;
        padding: 7px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        border-width: 3px;
        color: whitesmoke;
        border-color: whitesmoke;

        transition: background-color 0.4s ease;
        

}

.button-style2 {
        position: relative;
        top: 50px;
        left: 33%;
        background-color: darkred;
        border-radius: 10%;
        padding: 7px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        border-width: 3px;
        color: whitesmoke;
        border-color: whitesmoke;

        transition: background-color 0.4s ease;

}

.button-style2:hover, .button-style1:hover{
background-color: red;
}


ul{list-style-type: none;
margin: 0;
padding: 0;
overflow:hidden;
vertical-align: middle;}

li{float: left;
text-align: center;}

.color2 {
        background-color: #f5aebc;
        height: 500px;
}
.color3{
        background-color: #a19181;
        height: 600px;
        
}
.color{background-color: chocolate;}
.home{width: 30px;
    margin-left: 10cm;
}
body, h1 , div {
        margin: 0;
}

.shop{width: 30px;
    margin-left: 4cm;}

.contact{width: 30px;
margin-left: 5cm;}
.img {
        position: relative;
        width: 400px;
        height: 300px;
        top: 10px;
        left: 70%;
        margin: 0;
}
.img2 {
        position: relative;
        width: 400px;
        height: 600px;
        
        left: 70%;
        margin:0;
}
.img3 {
        position: relative;
        width: 400px;
        height: 300px;
        top: 100px;
        left: 70px;
}
.relative{
        margin-left: 50px;
        position: relative;

        top: 0px;
        width: 50%;

}
.relative2{
        position: relative;

        width: 400px;
        height: 300px;
        top: -50px;
        left: 10px;
}
.relative3 {
        position: relative;
        left: 30%;
        top: -450px;

        width: 50%;
}
.relative4{
        position: relative;
        
        top: -450px;

        width: 50%;
}

.relative5{
        position: relative;
        top: -200px;
        width: 30%;

        left: 60%;

        




}
.div1 {
        height: 600px;
}
h1{
        position: relative;

}
.margin{
     margin: 0,auto;
         background-color: rgb(146, 132, 132);
               }

.search{width: 30px; 
        margin-left: 4cm;}

.unisex{text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 0.5cm;
        font-style: oblique;
        font-variant: small-caps;
        font-size: 55px;
        color: rgb(68, 68, 73);}
.shopnow{position: absolute;}
.uniseximg{margin-left: 4cm;
            width: 1000px;
                position: relative;}
.address{background-color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 0;}
.textadd{color: white;
        margin-left: 2cm;}
.textadd a{color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-decoration: none;}
.copyri{text-align: center;}
.tcs{text-align: center;}


.unisex2{text-align: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 0.5cm;
        font-style: oblique;
        font-variant: small-caps;
        font-size: 40px;
        color: rgb(68, 68, 73);}
.motto{text-align: center;
        color: gold;
        font-stretch: ultra-expanded;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}