body{
    margin: 0;
    background-image:url(b1.jpg);
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.h1{
    text-align: center;
}
.button{
    margin: 20px;
    
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #202020;
   }
.login-page{
    display: none;
}
   .Cart-Container{
    
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
   }

   .form{margin-bottom: 50px;
    color: #202020;
}
.margintop{
    margin-top: 100px;
    text-align: center;
}
.button-style1 {
    position: relative;
    top: 100px;
    left: 70%;
    background-color: darkred;
    border-radius: 10%;
    padding: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border-width: 3px;
    color: whitesmoke;
    border-color: whitesmoke;

    transition: background-color 0.4s ease;
    

}

.div1{
    height: 320px;
    
    margin: 0;
}


.div-item1{
    position: relative;
    left: 5%;
margin: 0;

    
    height: 300px;
    width: 250px;
    background-color: #43af4c;
    border-radius: 10%;
    border-width: 10px;

    transition: 1s ease;
}

.div-item2{
    height: 300px;
    width: 250px;

    margin: 0;

    position: relative;
    left: 40%;
    top: -300px;

    background-color: #202020;
    border-radius: 10%;
    border-width: 10px;
    transition: 1s ease;

}

.div-item3{

    height: 300px;
    width: 250px;

    position: relative;
    left: 80%;
    top: -600px;

    margin: 0;

    background-color: #1687d9;
    border-radius: 10%;
    border-width: 10px;

    transition: 1s ease;
}

.home{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    margin-left: 2cm;
    margin-bottom: 12cm;
    font-size: xx-large;
    text-decoration: none;
    color: goldenrod;
    border-radius: 5%;
}

.home:hover{
    background-color: #2F3841
}
.home:active{
    background-color: #2F3841;
    box-shadow: 0.5px #666;
    transform: translateY(4px);
}



.item-image{
    height: 200px;
    width: 250px;
    margin: 0;
    border-radius: 12%;
}

p{
    color: azure;
    margin-left: 5px;
}

.div-item1:hover, .div-item2:hover, .div-item3:hover {
    background-color: grey;
}

      hr{
       width: 66%;
       float: right;
       margin-right: 5%;
      }
      .checkout{
       margin-right: 5%;
       width: 28%;
      }